<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <meta charset="UTF-8">
    <title>Home - Viva Imóveis</title>
</head>
<body>
<div th:replace="~{layout :: header}"></div> <!-- Incluindo o header do layout -->

<section th:fragment="content">
    <div class="hero">
        <div class="hero-content">
            <h1 id="hero-title"></h1>
            <p id="hero-text"></p>
            <div class="buttons">
                <a th:href="@{/imovel/comprar}" class="btn-primary">Imóveis à Venda</a>
                <a th:href="@{/imovel/alugar}" class="btn btn-secondary">Imóveis para Alugar</a>
            </div>
        </div>
        <div class="hero-image">
            <div class="image-wrapper">
                <!-- Exibe a imagem do imóvel aleatório -->
                <img th:src="@{/imagesimoveis/{imagem}(imagem=${imovelAleatorio.imagem})}" alt="Imagem do imóvel">
                <div class="rating">
                    <span>Avaliações ⭐ 4.9</span>
                </div>
                <div class="property-info">
                    <p>Compre Sua Casa Sonhada</p>
                    <h3>80+<br>Imóveis Disponíveis</h3>
                    <!-- Link para os detalhes do imóvel aleatório -->
                    <a th:href="@{/imovel/detalhes/{id}(id=${imovelAleatorio.id})}" class="btn-details">Ver Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{layout :: footer}"></div> <!-- Incluindo o footer do layout -->
<div th:replace="~{layout :: script}"></div> <!-- Incluindo o back-to-top -->

<script src="js/index.js"></script> <!-- Formador de frases aleatorias -->

</body>
</html>
