<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Viva Imóveis</title>
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon.png}">
  <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>

<header>
  <img th:src="@{/images/logoheader.png}" alt="Viva Imóveis">
  <nav>
    <ul>
      <li><a th:href="@{/}">Início</a></li>
      <li><a th:href="@{/sobre}">Sobre</a></li>
      <li><a th:href="@{/servicos}">Serviços</a></li>
      <li><a th:href="@{/contatos}">Contatos</a></li>
      <li><a th:href="@{/login}">Login</a></li>
    </ul>
  </nav>
</header>

<!-- Este é o espaço para o conteúdo dinâmico da página -->
<div th:fragment="bodyContent"></div>

<footer>
  <div class="footer-links">
    <div>
      <h3>Viva Imóveis</h3>
      <p>"Transformando Sonhos Em Endereços: Encontre O Lugar Perfeito Com A Gente"</p>
      <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <ul>
      <li><strong>Links Rápidos</strong></li>
      <li><a href="#">Início</a></li>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Relatórios</a></li>
    </ul>
    <ul>
      <li><strong>Serviços</strong></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Comprar Imóvel</a></li>
      <li><a href="#">Alugar Imóvel</a></li>
    </ul>
  </div>
  <div class="copyright">
    <p>&copy; Copyright Viva Imóveis 2022. Todos Os Direitos Reservados.</p>
  </div>
</footer>

</body>
</html>
