<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">Detalhes do Imóvel - Viva Imóveis</title>
  <link rel="stylesheet" th:href="@{/css/layout.css}"> <!-- Incluindo o layout.css para estilos globais -->
  <link rel="stylesheet" th:href="@{/css/detalhes.css}">
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
  <meta charset="UTF-8">
  <title>Detalhe do Imóvel - Viva Imóveis</title>
</head>
<body>
<div th:replace="~{layout :: header}"></div> <!-- Incluindo o header do layout -->

<section th:fragment="content">
<div class="details-container">
  <h1 th:text="${imovel.nome}">Detalhes do Imóvel</h1>
  <div class="property-image">
    <img th:src="@{/imagesimoveis/{imagem}(imagem=${imovel.imagem})}" alt="Imagem do imóvel">
  </div>

  <div class="property-info">
    <p><strong>Endereço: </strong><span th:text="${imovel.endereco}"></span></p>
    <p><strong>Quartos: </strong><span th:text="${imovel.quartos}"></span></p>
    <p><strong>Banheiros: </strong><span th:text="${imovel.banheiros}"></span></p>
    <p><strong>Corretor Responsável: </strong>
      <span th:text="${imovel.corretor.nome} + ' ' + ${imovel.corretor.creci}"></span>
    </p>
    <p class="price"><strong>Preço: </strong><span th:text="'R$ ' + ${precoFormatado}"></span></p>
  </div>

  <div class="action-buttons">
    <a href="javascript:window.history.back()" class="btn">Cancelar</a>
    <a th:href="@{/agendar-visita/{id}(id=${imovel.id})}" class="btn">Agendar Visita</a>
  </div>
</div>
</section>

<div th:replace="~{layout :: footer}"></div> <!-- Incluindo o footer do layout -->
<div th:replace="~{layout :: script}"></div> <!-- Incluindo o back-to-top -->

</body>
</html>
