<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<footer th:fragment="footer">
  <div class="footer-links">
    <div>
      <h3>Viva Imóveis</h3>
      <p>"Transformando Sonhos Em Endereços: Encontre O Lugar Perfeito Com A Gente"</p>
      <div class="social-icons">
        <a th:href="@{https://www.facebook.com}" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a th:href="@{https://www.instagram.com}" target="_blank"><i class="fab fa-instagram"></i></a>
        <a th:href="@{https://www.linkedin.com}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a th:href="@{https://www.twitter.com}" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <ul>
      <li><strong>Links Rápidos</strong></li>
      <li><a th:href="@{/}">Início</a></li>
      <li><a th:href="@{/sobre}">Sobre</a></li>
      <li><a th:href="@{/relatorios}">Relatórios</a></li>
    </ul>
    <ul>
      <li><strong>Serviços</strong></li>
      <li><a th:href="@{/login}">Login</a></li>
      <li><a th:href="@{/imovel/comprar}">Comprar Imóvel</a></li>
      <li><a th:href="@{/imovel/alugar}">Alugar Imóvel</a></li>
    </ul>
  </div>
  <div class="copyright">
    <p>&copy; Copyright Viva Imóveis 2022. Todos Os Direitos Reservados.</p>
  </div>
</footer>
</body>
</html>
