/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f9ff;
    color: #333;
}

header {
    background-color: #ECF2F9;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

header img {
    height: 50px;
    object-fit: contain;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 3px;
}

nav ul li a {
    color: #7C8893; /* Azul das fontes do menu */
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #0056B3;
    color: white;
    transform: scale(1.05);
}

nav ul li .login-btn {
    background-color: #0056B3;
    color: white;
    font-weight: bold;
}

nav ul li .login-btn:hover {
    background-color: #003C80;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 8px 0;
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        font-size: 1.2em;
    }
}

/* Avatar Button */
.avatar-btn {
    display: inline-block;
    width: 30px; /* Ajuste o tamanho do avatar */
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    transition: transform 0.3s ease; /* Para animação de aumento do avatar */
    border: none; /* Remover qualquer borda */
}

.avatar-btn .avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem cobrir completamente o círculo */
    object-position: center; /* Garante que a imagem fique centralizada */
}

/* Avatar Button - Efeito de aumento */
.avatar-btn:active, .avatar-btn:hover {
    transform: scale(1.5); /* Aumenta o avatar ao ser clicado ou ao passar o mouse */
}

/* Avatar Submenu */
.avatar-container {
    position: relative;
}

.avatar-dropdown {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    z-index: 1000; /* Garante que o submenu fique sobre os outros elementos */
}

.avatar-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block; /* Garante que os itens sejam alinhados verticalmente */
}

.avatar-dropdown ul li {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.avatar-dropdown ul li a {
    color: #7C8893; /* Azul das fontes do menu */
    text-decoration: none;
    display: block; /* Garante que os itens se alinhem verticalmente */
    padding: 5px 0;
    transition: background-color 0.3s ease;
}

.avatar-dropdown ul li a:hover {
    background-color: #007bff;
    color: white;
}

.avatar-dropdown ul li a i {
    margin-right: 10px;
}

.avatar-dropdown ul li a.logout {
    color: red;
}

/* Login Button */
.login-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #0D263B;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.footer-links div,
.footer-links ul {
    text-align: left;
    margin: 10px;
}

.footer-links h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: #A6C8F5;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.social-icons a:hover {
    color: #A6C8F5;
}

.copyright {
    margin-top: 1px;
    font-size: 0.8em;
    border-top: 1px solid #3B5160;
    padding-top: 1px;
}
